
<!--<form action="/users" method="post" accept-charset="UTF-8">
  <label for="user[username]">Username: </label>
  <input type="text" id="user[username]" name="user[username]">
  <label for="user[email]">Email: </label>
  <input type="email" id="user[email]" name="user[email]">
  <label for="password">Password: </label>
  <input type="password" id="user[password]" name="user[password]">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="submit">
</form>-->

<!--<%=form_tag('/users', method: 'post') do %>
  <%= label_tag(:username, 'Username' ) %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:email, 'Email') %>
  <%= email_field_tag(:email) %>
  <%= label_tag(:password, 'Password') %>
  <%= password_field_tag(:password) %>
  <%= submit_tag('Submit') %>
<% end %>-->

<h1>New User</h1>

<% if @user.errors.any? %>
  <h3><%= pluralize(@user.errors.count, 'error') %> prohibited this user from being saved: </h3>

  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>  
  </ul>
<% end %> 

<%= form_with model: @user do |form| %>
  <%= form.label :username, 'Username: ' %>
  <%= form.text_field :username, placeholder: "user123" %>
  <%= form.label :email, 'Email: ' %>
  <%= form.email_field :email, placeholder: "email@email.com" %>
  <%= form.label :password, 'Password: ' %>
  <%= form.password_field :password %>
  <%= form.submit "Submit" %>
<% end %>

